.login-page {
  &__page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__window {
    display: flex;
    flex-direction: column;
    width: 414px;
    padding: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin-bottom: 20px !important;
    text-align: center;
  }

  &__input {
    margin-bottom: 16px;
  }
}

